<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="LogFile" value="D:\temp\WebLogs\WebHostSynch.log" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogErr" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--any value other than yes is considered no-->
    <add key="LogInfo" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--any value other than yes is considered no-->
    <add key="SheetDefAddress" value="https://192.168.0.196/WebForms/Sheets.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="DBRegKey" connectionString="Server=192.168.0.200;Database=customers;User ID=root;Password=;CharSet=utf8" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ODWebServiceEntities" connectionString="metadata=res://*/ODWebServiceModel.csdl|res://*/ODWebServiceModel.ssdl|res://*/ODWebServiceModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=dennis;Persist Security Info=True;database=odwebservice_staging&quot;"
      providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WebHostSynch.Properties.Settings.DBMobileWeb" connectionString="server=localhost;User Id=dennis;database=mobile_dev;Persist Security Info=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <compilation debug="false" targetFramework="4.0"  xdt:Transform="Replace">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    
  </system.web>
</configuration>