@using System.Data;
@using OpenDentBusiness;
@using OpenDentBusiness.Mobile;
@model PatientPortalMVC.Models.FamilyModel
@{
	ViewBag.Title = "Family Information";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @Html.Partial("_PatientName")
<h2>Family Information</h2>
