Source: opendental
Section: unknown
Priority: optional
Maintainer: Frederik Carlier <frederik.carlier@carlier-online.be>
Build-Depends: debhelper (>= 4.2.32)
Standards-Version: 3.7.2

Package: opendental
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmono-corlib2.0-cil (>= 1.2.3.50), libmono-system2.0-cil (>= 1.2.3.50), libmono-winforms2.0-cil (>= 1.2.3.50), libmono2.0-cil (>= 1.2.3.50)
Description: Open Dental: Open Source Practice Management
 *** Unofficial package from frederik.carlier@carlier-online.be ***
 .
 Modern dental software includes Appointment Scheduling, Imaging, 
 and 3D Dental Charting.
