<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="LogFile" value="MobileWeb.log" />
    <add key="LogErr" value="yes" /><!--any value other than yes is considered a no-->
    <add key="LogInfo" value="no" /><!--any value other than yes is considered a no-->
  </appSettings>
    <connectionStrings>
        <add name="MobileWeb.Properties.Settings.DBMobileWeb" connectionString="server=localhost;User Id=root;database=mobile_dev;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>

</configuration>
