<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobileWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="LogFile" value="F:\temp\WebLogs\MobileWeb.log" />
    <add key="LogErr" value="yes" /><!--any value other than yes is considered a no-->
    <add key="LogInfo" value="yes" /><!--any value other than yes is considered a no-->
  </appSettings>
    <connectionStrings>
        <add name="MobileWeb.Properties.Settings.DBMobileWeb" connectionString="server=localhost;User Id=dennis;database=mobile_dev;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>

    <applicationSettings>
        <MobileWeb.Properties.Settings>
            <setting name="DemoDentalOfficeID" serializeAs="String">
                <value>6219</value>
            </setting>
            <setting name="DemoTodayDate" serializeAs="String">
                <value>2011-02-13</value>
            </setting>
        </MobileWeb.Properties.Settings>
    </applicationSettings>
</configuration>
