<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenDental.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenDental.Properties.Settings>
            <setting name="OpenDental_com_dentalxchange_webservices_WebServiceService"
                serializeAs="String">
                <value>https://webservices.dentalxchange.com/dws/services/dciservice.svl</value>
            </setting>
            <setting name="OpenDental_localhost_Service1" serializeAs="String">
                <value>http://localhost:3824/Service1.asmx</value>
            </setting>
            <setting name="OpenDental_customerUpdates_Service1" serializeAs="String">
                <value>http://70.90.133.65:1942/WebServiceCustomerUpdates/Service1.asmx</value>
            </setting>
            <setting name="OpenDental_WebHostSynch_WebHostSynch" serializeAs="String">
                <value>http://localhost:2923/WebHostSynch.asmx</value>
            </setting>
            <setting name="OpenDental_PayConnect_MerchantService" serializeAs="String">
                <value>https:/webservices.dentalxchange.com/merchant/MerchantService?wsdl</value>
            </setting>
            <setting name="OpenDental_WebSheets_Sheets" serializeAs="String">
                <value>http://localhost:2923/Sheets.asmx</value>
            </setting>
        </OpenDental.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>